<div class="jumbotron bg-primary rectangle">
    <div class="form-group">
        <div class="d-flex justify-content-center">
            <div class="mr-4">
                <img style="border-radius: 20px; width: 300px;" src="./assets/img/logo.png">
            </div>
            <div style="width: 300px;">
                <p class="lead text-center " style="color: whitesmoke; font-size: 52px; font-weight: bold;">Una forma
                    facil
                    de realizar el backend</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-center">
            <a class="btn btn-success btn-lg" href="https://github.com/MS-Marcks/msback" role="button"
                target="_blank">Intenta MS Back</a>
        </div>
    </div>
</div>